# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
*.venv
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor files
.vscode/
.idea/
*.swp

# Logs and databases
*.log
*.sqlite3

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Other
*.bak
*.orig
*.tmp

# Tkinter specific (if any)
*.tcl
*.tk

# Environment variables file
.env
